{% extends "index.html" %}

{% block site_title_meta %} - Kontakta oss {% endblock %}
{% block page_title %}Kontakta oss{% endblock %}

{% block page_media %}
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key= AIzaSyC0FPdOz9KDZOugual4QO1hbvjSLsj3nTU '></script><div style='overflow:hidden;height:400px;width:550px;'><div id='gmap_canvas' style='height:550px;width:550px;'></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div>

<a href='https://www.embed-map.net/'>.</a>
<script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=d793989f359ea217ae6b0ab77b80d46cacabf544'></script><script type='text/javascript'>function init_map(){var myOptions = {zoom:11,center:new google.maps.LatLng(55.618114,13.477411500000017),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(55.618114,13.477411500000017)});infowindow = new google.maps.InfoWindow({content:'<strong>Tidlunds ved</strong><br>Veberöd 1316<br>24796 Veberöd<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
{% endblock %}

{% block page_content %}
<p>Mail: andtidlund@hotmail.com<br>Telefon: ‭070-585 43 38‬

</p>

<form role="form" action="" method="post">
    {% for field in form %}
    <div class="fieldWrapper">
        {% csrf_token %}
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}
    <button type="submit" class="btn btn-primary">Skicka</button>
</form>

{% endblock %}