{% extends "index.html" %}
{% load static %}

{% block site_title_meta %} - Björkved{% endblock %}
{% block page_title %}Björkved{% endblock %}

{% block page_media %}
<img src="{% static 'img/ved/bestalla/bjorkved.png' %}" alt="björkved" class="img-thumbnail">
<div class="prices">
    <h4>Priser</h4>

    <ul class="list-group list-group-flush">
        <li class="list-group-item" style="border:none">Löst nykluven (kubik) - 495kr</li>
        <li class="list-group-item">Löst torr (kubik) - 600kr</li>
        <li class="list-group-item">Torr (kubik på pall) - 700kr</li>
        <li class="list-group-item">Nykluven på pall (st) - 550kr</li>
        <li class="list-group-item">40 liters säck (st) - 50kr</li>
        <li class="list-group-item">Vid större mängd småsäckar ring alt maila angående pris.</li>
    </ul>

</div>
{% endblock %}

{% block page_content %}

<form method="post" novalidate>
  {% csrf_token %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.errors }}
      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text %}
        <small id="emailHelp" class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Beställ</button>
</form>

{% endblock %}
