{% extends "index.html" %}
{% load static %}

{% block site_title_meta %} - Blandat lövträd {% endblock %}
{% block page_title %}Blandat lövträd{% endblock %}

{% block page_media %}
<img src="{% static 'img/ved/blandved.jpg' %}" alt="blandved" class="img-thumbnail">
<div class="prices">
    <h4>Priser</h4>

    <ul class="list-group list-group-flush">
        <li class="list-group-item" style="border:none">Löst nykluven (kubik) - 450kr</li>
        <li class="list-group-item">Löst torr (kubik) - 560kr</li>
        <li class="list-group-item">Nykluven (kubik på pall) - 530kr</li>
        <li class="list-group-item">Torr (kubik på pall) - 630kr</li>
    </ul>

</div>
{% endblock %}

{% block page_content %}

<form method="post" novalidate>
  {% csrf_token %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text %}
        <small id="emailHelp" class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Beställ</button>
</form>

{% endblock %}
