{% extends "index.html" %}
{% load static %}

{% block site_title_meta %} - Bokved{% endblock %}
{% block page_title %}Bokved{% endblock %}

{% block page_media %}
<div class="prices">
    <h4>Priser</h4>

    <ul class="list-group list-group-flush">
      {% for p in wood %}
        <li class="list-group-item">{{ p.title }} - {{ p.price }}kr</li>
      {% endfor %}
    </ul>
</div>
{% endblock %}

{% block page_content %}

<form method="post" novalidate>
  {% csrf_token %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text %}
        <small id="emailHelp" class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Beställ</button>
</form>

{% endblock %}
