body {

}

.errorlist {
    margin-bottom: 0;
}

.navbar-light {
    border-bottom: 1px solid #E5E4E2;
}

.bg-light {
    background-color: white !important;
    opacity: 0.9;
}

.firewood-img {
    margin-bottom: 0;
}

.page-title {
    margin: 40px 0 40px 0;
}

.offer-text {
    color: red !important;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* FOOTER */

footer {
    margin-top: 100px;
}

.navbar-footer {
    border-top: 1px solid #E5E4E2;
}

.footer-navbar-text {
    padding: 10px 0 0 110px;
}

.footer-navbar-text-created-by {
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 1em;
}

.footer-icons {
    margin-left: 5px;
}

/* INDEX STUFF */

.firewood-types {
    margin-top: 35px;
    text-align: center;
}

.firewood-types figure {
    margin: 0 1rem 1rem !important;
}

.firewood-types a:hover {
    text-decoration: none;
}

.figure-firewood-caption {
    font-size: 130%;
    text-align: center;
}

/* OTHER STUFF */

.prices {
    margin-top: 15px;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
